In [10]:
import pandas as pd

In [29]:
with open('splits.csv', 'r',encoding='windows-1255') as f:
    text = f.read()
text = text.replace('מרץ', '3').replace('אוג', '8').replace('ספט', '9').replace('district ', 'district')
with open('splits.csv', 'w',encoding='windows-1255') as f:
    f.write(text)

In [35]:
original = pd.read_csv('splits.csv', encoding='windows-1255')
original

,Unnamed: 0,pop_name,condition,test_name,first_split,first_split_val,second_split,second_split_val,third_split,third_split_val,fourth_split,fourth_split_val,low_val_pct,normal_pct,high_val_pct
0,1,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,albumin,district,15,age_group,31-50,gender,F,NaN,NaN,0.032,0.968,0.000
1,2,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,b12,district,7,age_group,51-65,gender,M,NaN,NaN,0.085,0.887,0.028
2,3,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,chol,district,15,age_group,22-30,gender,F,NaN,NaN,0.000,0.861,0.139
3,4,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,vitaminD,district,1,age_group,04-8,gender,F,NaN,NaN,0.887,0.112,0.001
4,5,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,transf,district,4,age_group,22-30,gender,F,NaN,NaN,0.016,0.838,0.146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60413,60414,trimester_3rd,active_malignancy=0 and ibd=0 and rhemartoid_a...,albumin,ethnicity,A,time_from_immigartion,10 years or more,age_group,31-40,NaN,NaN,0.626,0.374,0.000
60414,60415,trimester_3rd,active_malignancy=0 and ibd=0 and rhemartoid_a...,hb,ethnicity,N,time_from_immigartion,10 years or more,age_group,21-30,NaN,NaN,0.612,0.388,0.000
60415,60416,trimester_3rd,active_malignancy=0 and ibd=0 and rhemartoid_a...,hb,ethnicity,S,time_from_immigartion,born in israel,age_group,41-50,NaN,NaN,0.751,0.249,0.000
60416,60417,trimester_3rd,active_malignancy=0 and ibd=0 and rhemartoid_a...,b12,ethnicity,A,time_from_immigartion,10 years or more,age_group,21-30,NaN,NaN,0.219,0.770,0.011
60417,60418,trimester_3rd,active_malignancy=0 and ibd=0 and rhemartoid_a...,trig,ethnicity,A,time_from_immigartion,born in israel,age_group,31-40,NaN,NaN,0.000,0.136,0.864

In [38]:
df=original[original.pop_name == 'overall']
df = df[df.condition == df.iloc[1].condition]

#df = df[df.first_split == 'district']
#df = df[df.second_split == 'age_group']
df

,Unnamed: 0,pop_name,condition,test_name,first_split,first_split_val,second_split,second_split_val,third_split,third_split_val,fourth_split,fourth_split_val,low_val_pct,normal_pct,high_val_pct
0,1,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,albumin,district,15,age_group,31-50,gender,F,NaN,NaN,0.032,0.968,0.000
1,2,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,b12,district,7,age_group,51-65,gender,M,NaN,NaN,0.085,0.887,0.028
2,3,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,chol,district,15,age_group,22-30,gender,F,NaN,NaN,0.000,0.861,0.139
3,4,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,vitaminD,district,1,age_group,04-8,gender,F,NaN,NaN,0.887,0.112,0.001
4,5,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,transf,district,4,age_group,22-30,gender,F,NaN,NaN,0.016,0.838,0.146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60153,60154,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,hb,ethnicity,S,time_from_immigartion,born in israel,age_group,01-3,gender,F,0.127,0.872,0.002
60154,60155,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,iron,ethnicity,A,time_from_immigartion,born in israel,age_group,9-13,gender,F,0.186,0.710,0.104
60155,60156,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,nonhdl,ethnicity,A,time_from_immigartion,10 years or more,age_group,80+,gender,F,0.000,0.711,0.289
60156,60157,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,trig,ethnicity,M,time_from_immigartion,born in israel,age_group,01-3,gender,M,0.000,0.970,0.030
60157,60158,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,ferritin,ethnicity,M,time_from_immigartion,born in israel,age_group,66-79,gender,F,0.065,0.868,0.066

In [49]:
df[(df.first_split == 'sector')& (df.second_split == 'district') & (df.third_split =='age_group') & (df.fourth_split.isna())]

,Unnamed: 0,pop_name,condition,test_name,first_split,first_split_val,second_split,second_split_val,third_split,third_split_val,fourth_split,fourth_split_val,low_val_pct,normal_pct,high_val_pct
317,318,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,trig,sector,1,district,1,age_group,80+,NaN,NaN,0.000,0.726,0.274
318,319,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,hdl,sector,2,district,15,age_group,9-13,NaN,NaN,0.195,0.805,0.000
319,320,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,albumin,sector,1,district,15,age_group,19-21,NaN,NaN,0.016,0.983,0.001
320,321,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,hba1c,sector,1,district,5,age_group,22-30,NaN,NaN,0.001,0.858,0.140
321,322,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,vitaminD,sector,9,district,12,age_group,80+,NaN,NaN,0.658,0.311,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55043,55044,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,trig,sector,2,district,4,age_group,22-30,NaN,NaN,0.000,0.858,0.142
55044,55045,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,b12,sector,2,district,4,age_group,22-30,NaN,NaN,0.080,0.904,0.016
55045,55046,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,hb,sector,1,district,5,age_group,80+,NaN,NaN,0.536,0.463,0.001
55046,55047,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,trig,sector,1,district,5,age_group,22-30,NaN,NaN,0.000,0.839,0.161
55047,55048,overall,active_malignancy=0 and ibd=0 and rhemartoid_a...,vitaminD,sector,9,district,5,age_group,19-21,NaN,NaN,0.846,0.150,0.004

In [ ]:
relevant_splits = ['district', 'sector', 'ses', ]

In [27]:
cities = pd.read_csv('cities_clalit.csv')
cities.columns=['city', 'district']
cities.describe()

              city district
count           98       98
unique          98        9
top     אום אל-פחם     חיפה
freq             1       20

In [16]:
text[:2000]

',pop_name,condition,test_name,first_split,first_split_val,second_split,second_split_val,third_split,third_split_val,fourth_split,fourth_split_val,low_val_pct,normal_pct,high_val_pct\n1,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,albumin,district,15,age_group,31-50,gender,F,NA,NA,0.032,0.968,0\n2,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,b12,district,7,age_group,51-65,gender,M,NA,NA,0.085,0.887,0.028\n3,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,chol,district,15,age_group,22-30,gender,F,NA,NA,0,0.861,0.139\n4,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,vitaminD,district,1,age_group,04-8,gender,F,NA,NA,0.887,0.112,0.001\n5,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,transf,district,4,age_group,22-30,gender,F,NA,NA,0.016,0.838,0.146\n6,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,znb,district,15,age_group,31-50,gender,F,NA,NA,0.106,0.884,0.01\n7,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,chol,district,4,age_group,19-21,gender,F,NA,NA,0,0.907,0.093\n8,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,nonhdl,district,15,age_group,22-30,gender,F,NA,NA,0,0.896,0.104\n9,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,b12,district,2,age_group,80+,gender,F,NA,NA,0.047,0.828,0.124\n10,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,trig,district,1,age_group,51-65,gender,M,NA,NA,0,0.601,0.399\n11,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,znb,district,4,age_group,9-13,gender,M,NA,NA,0.031,0.932,0.037\n12,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,znb,district,5,age_group,14-18,gender,M,NA,NA,0.023,0.91,0.068\n13,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,nonhdl,district,2,age_group,19-21,gender,F,NA,NA,0,0.942,0.058\n14,overall,active_malignancy=0 and ibd=0 and rhemartoid_arthritis=0,folacid,district,4,age_group,04-8,gender,M,NA,NA'